ul.jmenu {
  background-color: lightgreen;
  padding: 0;
  margin: 0;
}

ul.jmenu li {
  display: inline;
  list-style-type: none;
}

ul.jmenu li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.active {
  color: green;
}
